<%- include ("header", {pageTitle: "Home page"}) %>

    <div class="container">
        <section class="main-content">
            <% for (let i=0; i<posts.length; i++){%>
                <article>
                    <p><%=posts[i]%></p>
                </article>
            <%}%>
        </section>

        <aside class="sidebar">
            <p>Profile Pic</p>
        </aside>
    </div>

<%- include ("footer") %>
    
