<%- include ("header", {pageTitle: 'Post page'}) %>

    <form action="/post" method="post">
        <input type="text" name="title" placeholder="title"><br>
        <textarea name="content" cols="30" rows="10"></textarea>
        <button type="submit">POST</button>
    </form>

<%- include ("footer") %>