<%- include("header", { pageTitle: 'Post page' }) %>

<div class="container">
    <form action="/post" method="post">
        <input type="text" name="title" placeholder="Title"><br>
        <textarea name="content" cols="30" rows="5" placeholder="Write your post here..."></textarea>
        <button type="submit">POST</button>
    </form>
</div>
<%- include("footer") %>
