<%- include ("header", {pageTitle: 'Post page'}) %>

    <form action="/post" method="post">
        <input type="textarea", name="post", placeholder="Put your post here">
        <button type="submit">POST</button>
    </form>

<%- include ("footer") %>